.comentcontainer {
    
    
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    background-color: aliceblue;
  }
  
  .title {
    color: green;
    font-weight: bold;
  }
  
  .details {
    color: purple;
  }
  